@using RestaurantMng.WebApplication.ViewModels
@model  List<OrderOrderItemVM>

@{
    ViewBag.Title = "Thu ngân";
}

@section style{
    <style>
        /*--CSS--*/
        .block {
            text-align: center;
            vertical-align: middle;
        }

        .circle {
            background: orange;
            border-radius: 200px;
            color: white;
            height: 200px;
            font-weight: bold;
            width: 200px;
            display: table;
            margin: 20px auto;
        }

            .circle p {
                vertical-align: middle;
                display: table-cell;
            }

        .divshow {
            position: absolute;
            z-index: 1;
        }

        .btn-group {
            position: relative;
        }

        .modal {
            text-align: center;
        }

        @@media screen and (min-width: 768px) {
            .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
            }
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }

        /*.test:after {
            content: '\2807';
            font-size: 30px;
            color: black;
            position: absolute;
        }*/


    </style>
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            loading();
        });

        $(function () {
            $('a').click(function () {
                //    $('#slide-div').fadeOut();
                $(this).css({ 'cursor': 'auto' });
            });

            $('.circle').click(function () {
                //    $(this).fadeOut(500);
            }).css({ 'cursor': 'pointer' });
        });

        $('.circle').click(function (e) {
            var id = $(this).data('orderid');
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                //data: JSON.stringify({ tableId: tableId, orderId: orderId }),
                success: function (response) {
                    var totalPrice = 0;
                    $('#detail').text('');
                    $.each(response, function (index, item) {
                        $('#detail').append(`
                            <div class="col-md-3">
                                <p>${item.ItemName}</p>
                            </div>
                            <div class="col-md-3">
                                <p>${item.Note}</p>
                            </div>
                            <div class="col-md-3">
                                <p>${item.Price}</p>
                            </div>
                            <div class="col-md-3">
                                <p>${item.Quantity}</p>
                            </div>

                            `);
                        totalPrice = item.TotalPrice;
                    });
                    $('#totalPrice').html(`Thành tiền: ${totalPrice} vnđ`);
                    

                    $('#myModal').modal('show');
                    $('#ThanhToan').attr("data-orderid", id);
                },
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        });

        $('#ThanhToan').click(function (e) {
            
            e.preventDefault(); // avoid to execute the actual submit of the form.
            $('#myModal').modal('hide');
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                //data: form.serialize(), // serializes the form's elements.
                data: { 'orderId': $('#ThanhToan').data('orderid') },
                cache: false,
                success: function (response) {
                    showalert('failure', 1);
                },
                failure: function (response) {
                   showalert('failure', 0);
                },
                error: function (response) {
                    showalert('Error', 0);
                }
            });
        });

            //$(".circle").hover(function (event) {
            //}, function () {
            //    $("#divtoshow").hide();
            //});

            //$(document).mouseup(function (e) {
            //    var container = $(".circle");
            //    var needhide = $("#divtoshow");

            //    // if the target of the click isn't the container nor a descendant of the container
            //    if (!container.is(e.target) && container.has(e.target).length === 0 && !container.is(needhide)) {
            //        needhide.hide();
            //    }
            //});



    </script>


}

@*<div class="divshow" id="divtoshow" style="display: none;">
        <span id="divTitle"></span>
        SHOW ME!
    </div>*@
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg" style="max-width: 800px; min-width: 200px">
        <form id="DetailOrder" action="@Url.Action("TinhTien", "Cashier")" method="post">
            <div class="modal-content">

                <!-- Header -->
                <div class="modal-header text-center" style="background: gold">
                    <h1 style="color: white">Hóa đơn</h1>
                </div>

                <!-- Body -->
                <div class="modal-body">
                        <div class="col-md-3">
                            <p>Tên món</p>
                        </div>
                        <div class="col-md-3">
                            <p>Ghi chú</p>
                        </div>
                        <div class="col-md-3">
                            <p>Đơn giá</p>
                        </div>
                        <div class="col-md-3">
                            <p>Số lượng</p>
                        </div>
                    
                    <div id="detail">

                    </div>
                </div>
                    <p id="totalPrice" style="margin-top: 50px; margin-left: 30px; font-size: 20px" name="tableId"></p>
                    <!-- Footer -->
                    <div class="modal-footer modal-footer--mine">
                        <button type="button" id="ThanhToan" data-orderid="0" class="btn btn-default" action="@Url.Action("TinhTien", "Cashier")" method="post">Thanh toán</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
        </form>
    </div>
</div>
<div class="jumbotron text-center">
    <h2>DANH SÁCH BÀN ĂN ĐANG PHỤC VỤ</h2>
</div>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4 block">
            <div id="slide-div" class="circle" data-orderid="@item.OrderId" action="@Url.Action("DetailOrder", "Cashier", new { tableId = item.TableId, orderId = item.OrderId})" method="post">
                <p>@item.TableName</p>
            </div>
        </div>
    }
    <div class="col-md-4 block">
        <div id="slide-div" class="circle" data-orderid="5" action="@Url.Action("DetailOrder", "Cashier", new { tableId = 5, orderId = 5})" method="get">
            <p>asd</p>
        </div>
    </div>
</div>