@using RestaurantMng.Data.Models;
@using RestaurantMng.Service.User.Models.Dtos;
@model List<User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> BoPhan = new List<string>() { "Admin", "Quản lý", "Đầu bếp", "Thu ngân", "Phục vụ" };
}

@section style{
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="~/Content/datatable/jquery.dataTables.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/datatable/jquery.dataTables.min.js"></script>
    <script>
        var isAddedNew = false;
        var updatedRow = {};
        var selectedRowID = -1;
        var table = $('#employeeTable').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
        });

        //$('#employeeTable tbody').on('click', 'tr', function () {
        //    $(this).toggleClass('selected');
        //});

        $('#newEmployee').click(function () {
            $('#modal-default').modal('show');
            isAddedNew = true;
        });
        

        function update(id) {
            selectedRowID = id;
        }

        function deleteUser(id) {
            selectedRowID = id;
        }

        $('#employeeTable tbody').on('click', '.updateBtn', function () {
            updatedRow = $(this).closest("tr");
            isAddedNew = false;
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetUser", "MUser")',
                data: JSON.stringify({ id: selectedRowID }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        $('#ID').val(data.ID);
                        $('#UserName').val(data.UserName);
                        $('#FullName').val(data.FullName);
                        $('#Password').val('');
                        $('#Address').val(data.Address);
                        $('#GroupID').val(data.GroupID);
                        $('#DateOfBirth').val(data.DateOfBirth);
                        $('#Phone').val(data.Phone);
                        $('#Salary').val(data.Salary);
                        $('#modal-default').modal('show');
                    }
                    else {
                        alert("Khong co du lieu!");
                    }
                },
                error: function (err) {
                    alert("Error!");
                }
            });
        });

        $('#employeeTable tbody').on('click', '.deleteBtn', function () {
            var row = $(this).closest("tr");
            if (confirm('Xac nhan se xoa nhan vien nay?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "MUser")',
                    data: JSON.stringify({ id: selectedRowID }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (rs) {
                        if (rs.code > 0) {
                            table.row(row).remove().draw(false);
                            alert("Xoá thanh cong!");
                        }
                        else {
                            alert(rs.message);
                        }
                    },
                    error: function (err) {
                        alert("Error!");
                    }
                });
            }
        });

        $('#submitChange').click(function () {
            //insert
            if (isAddedNew) {
                var employee = {
                    UserName: $('#UserName').val(),
                    FullName: $('#FullName').val(),
                    Password: $('#Password').val(),
                    Address: $('#Address').val(),
                    GroupID: $('#GroupID').val(),
                    DateOfBirth: $('#DateOfBirth').val(),
                    Phone: $('#Phone').val(),
                    Salary: $('#Salary').val(),
                    Status: true,
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Insert", "MUser")',
                    data: JSON.stringify(employee),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (rs) {
                        if (rs.code >= 0) {
                            alert("Them thanh cong!");
                            var newData = [
                                rs.User.FullName, rs.User.UserName, rs.User.Address,
                                rs.User.DateOfBirth, rs.User.Phone, rs.User.Salary, rs.User.ID
                            ];
                            table.row.add(newData).draw(false);
                            $("#formMain")[0].reset();
                            isAddedNew = false;
                        } else {
                            alert(rs.message);
                        }
                    },
                    error: function () {
                        alert("Error!");
                    }
                });
            }
            //update
            else {
                var employee = {
                    ID: $('#ID').val(),
                    UserName: $('#UserName').val(),
                    FullName: $('#FullName').val(),
                    Password: $('#Password').val(),
                    Address: $('#Address').val(),
                    GroupID: $('#GroupID').val(),
                    DateOfBirth: $('#DateOfBirth').val(),
                    Phone: $('#Phone').val(),
                    Salary: $('#Salary').val(),
                    Status: true,
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Update", "MUser")',
                    data: JSON.stringify(employee),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (rs) {
                        if (rs.code >= 0) {
                            alert(rs.message);
                            var newData = [
                                rs.User.FullName, rs.User.UserName, rs.User.Address,
                                rs.User.DateOfBirth, rs.User.Phone, data.Salary, rs.User.ID
                            ]
                            table.row(updatedRow).data(newData).draw();
                        } else {
                            alert("Cap nhat that bai!");
                        }
                    },
                    error: function () {
                        alert("Error!");
                    }
                });
            }
        });

        $('#modal-default').on('hidden.bs.modal', function () {
            isAddedNew = false;
            $("#formMain")[0].reset();
        })
    </script>
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Danh sách nhân viên</h3>
        <button id="newEmployee" class="btn btn-block btn-success" style="width:auto;display:inline-block">+</button>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="employeeTable" class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <th>Họ và tên</th>
                    <th>Account</th>
                    <th>Địa chỉ</th>
                    <th>Ngày sinh</th>
                    <th>Số điện thoại</th>
                    <th>Lương</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <th>@p.FullName</th>
                        <th>@p.UserName</th>
                        <th>@p.Address</th>
                        <th>@p.DateOfBirth</th>
                        <th>@p.Phone</th>
                        <th>@p.Salary</th>
                        <th class="dt-center">
                            <a class="updateBtn" href="#" onclick="update(@p.ID)">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="deleteBtn" href="#" onclick="deleteUser(@p.ID)">
                                <i class="fa fa-trash"></i>
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

<div class="modal fade" id="modal-default" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">
                <form id="formMain" class="form-horizontal">
                    <input type="hidden" id="ID">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Account</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="UserName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Họ tên</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="FullName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mật khẩu</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Bộ phận</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="GroupID">
                                    @Html.Action("PartialListGroupUser", "MUser")
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Địa chỉ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ngày sinh</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="DateOfBirth">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Số điện thoại</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lương</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="Salary">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button id="submitChange" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
